.userinfo{
  margin-top: 70px!important;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
} */
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  display: contents;
  align-items: center;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: center!important; 
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #333333;
}

.userfile{
  width:auto!important;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.snip1568 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1568 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1568 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: right;
}

.snip1568 figcaption {
  width: auto;
  background-color: #333333;
  color: #fff;
  padding: 18px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
}

.snip1568 figcaption:after {
  content: '';
  position: absolute;
  right: 32px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #333333 transparent transparent transparent;
}

.snip1568 h3,
.snip1568 h4,
.snip1568 p {
  margin: 0 0 5px;
}

.snip1568 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.snip1568 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.2rem!important;
}

.snip1568 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1568 .icons {
  padding: 20px 90px;
}

.snip1568 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.75;
}

.snip1568 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* Demo purposes only */
body {
  background-color: #212121;
}
