body{
    margin-top: 2%;
    background-color: #eef2ff;
}
.title{
    text-align: center;
    padding-bottom: 3%;
}
.drawing-space{
    height: 73vh;
}
.video-space{
    height: 80vh;
}


textarea{
    width:100%;
    height: 70vh;
}